body{
    font-family:Helvetica;
   margin:0px 120px;

}

.background-clr{
  background-color:#EEEEEE;
  width:1025px;
  height:1920px;
  font-family:Helvetica;
}

.title, .subtitle,.text-below-img{
  text-align:center;
  
}

.subtitle{
  font-size:1.5rem;
}

.life-timeline-box{
 
  padding: 0px 190px;
  line-height:1.5;
  
}

span{
  font-weight:bold;
  
}

.footer{
  text-align:center;
}